* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background: linear-gradient(
    to bottom right,
    rgba(81, 1, 1, 1),
    rgba(163, 72, 32, 1)
  );
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "KellySlab", sans-serif;
}
main {
  flex: 1;
  min-height: 86.7vh;
  padding-top: 150px;
}
@font-face {
  font-family: "KellySlab";
  src: url(../fonts/KellySlab.ttf);
}
header {
  font-family: "KellySlab";
  font-size: 2.5vw;
  background-color: #fac460;
  position: fixed;
}
nav {
  position: relative;
  padding: 2.5rem 2rem;
  width: 100vw;
}
ul.header {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
ul.header > li.right {
  flex: 1;
  display: flex;
  justify-content: left;
}
ul.header > li.right {
  flex: 1;
  display: flex;
  justify-content: right;
}
ul.header > li.center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  justify-content: center;
  flex: 0 0 auto;
}

ul.header li a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  margin: 0 2.5rem;
  transition: color 0.3s ease;
}
ul.header li a:hover {
  color: #a34820;
}
#logo {
  max-height: 5vw;
  width: auto;
  display: block;
}


footer {
  font-family: "KellySlab";
  font-size: 1.5vw;
  background-color: #fac460;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}
  #youtube, #instagram, #tiktok {
    height: 50px;
  }

  a {
    color: #00ffd0;
  }

  a:hover {
    color: #006250;
  }

  .gauche ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    list-style-type: none;
  }

  .gauche {
    max-width: 30%;
  }

  .droite {
    width: 15%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
  }

  .droite ul {
    margin: 10px;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .prevention {
    font-size: 1vw;
    padding-top: 15px;
  }
