@font-face {
    font-family: Jura;
    font-style: normal;
    src: url(../fonts/Jura.ttf) format('truetype');
}

@font-face {
    font-family: IslandMoment;
    font-style: normal;
    src: url(../fonts/IslandMoment.ttf) format('truetype');
}


h1 {
    font-family: 'Island Moments', serif;
    font-size: 5em;
    margin-bottom: 40px;
    color: antiquewhite;
    font-weight: inherit;
    text-align: center;
}

.photo {
    width: fit-content;
    display: block;
    margin: 0 auto;
    text-align: center;
    padding-top: 3rem;
}

.student .photo img{
    border-radius: 16px;
}

.name {
    text-align: center;
    font-family: "Jura";
    color: antiquewhite;
    font-size: 3.5rem;
    padding-top: 1rem;
}

.role {
    text-align: center;
    font-family: Jura;
    font-size: 2rem;
    padding-top: 0.5rem;
}
.description {
    text-align: center;
    font-family: Jura;
    font-size: 1.5rem;
    padding-top: 2rem;
    padding-bottom: 7rem;
}