  .trombinoscope {
    text-align: center;
    padding: 60px 20px;
  }

  .trombinoscope h2 {
    font-family: 'Island Moments', serif;
    font-weight: inherit;
    font-size: 5em;
    margin-bottom: 40px;
    color: antiquewhite;
  }

  .team-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    justify-items: center;
    max-width: 1000px;
    margin: 0 auto;
  }

  .member {
    text-align: center;
    width: 120px; /* largeur fixe pour aligner image et texte */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.trombinoscope .photo {
  
    width: 15rem;
    height: 300px;
    border-radius: 16px;
    margin-bottom: 10px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.trombinoscope .photo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 4px;
    display: block;
    background: #eee;
}



  .member p {
    margin: 0;
    font-size: 0.9em;
    color: #fff;
  }

  .member span {
    font-size: 0.8em;
    color: #ddd;
  }